@import "ember-cli-bootstrap-4/bootstrap";

body {
  padding-top: 5rem;
}

.bd-navbar .navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

pre {
  padding: $spacer / 2;
  background-color: $gray-100;
}

code {
  background-color: $gray-100;
}
